# ignore vscode files
.vscode

# data files
data/*

# output files
output/*
output_test/*
output*

# logs
logs/*

# temp files
temp/*

# compile files
*.pyc

realsense_tracking/.pylintrc

.pylintrc

*.log
